.notification {
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2rem 2.6rem;
  background-color: #fff;
  color: #222;
  text-align: center;
  z-index: 99999;
  border-radius: 1rem;
}

.notification__message {
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
