.latest__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  column-gap: 5rem;
  align-items: start;
}

.latest__container__btns {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.latest__btn {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #ff8c00;
  color: #fff;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 2.8rem;
  font-weight: 700;
  transition: all 0.5s;
}

.latest__btn__active {
  color: #ff8c00;
  background-color: #fff;
}
