.staff__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  column-gap: 6rem;
}

.staff__container__members {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media screen and (max-width: 780px) {
  .staff__grid {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }

  .staff__container__members {
    grid-row: 2 / 3;
  }
}

.staff__member {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.staff__member__container__img {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  overflow: hidden;
}
.staff__member__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.staff__member__container__text {
  width: calc(100% - 24rem);
}

.staff__member__text {
  font-size: 1.4rem;
  font-weight: 300;
}

.staff__member__name {
  font-size: 1.6rem;
  font-weight: 500;
}

@media screen and (max-width: 520px) {
  .staff__member__container__img {
    width: 16rem;
    height: 16rem;
  }

  .staff__member__container__text {
    width: calc(100% - 18rem);
  }

  .staff__member__text {
    font-size: 1.2rem;
  }

  .staff__member__name {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 420px) {
  .staff__member__container__img {
    width: 10rem;
    height: 10rem;
  }

  .staff__member__container__text {
    width: calc(100% - 12rem);
  }
}
