.product__recommend__grid {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 73rem) 70rem;
  column-gap: 3rem;
  margin-bottom: 5rem;
  justify-content: space-between;
}

.product__recommend__title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.product__recommend__swiper {
  width: 70rem;
}

@media screen and (max-width: 890px) {
  .product__recommend__grid {
    grid-template-columns: 1fr;
  }

  .product__recommend__swiper {
    max-width: 110rem;
  }
}

@media screen and (max-width: 650px) {
  .product__recommend__swiper {
    width: 55rem;
  }
}

@media screen and (max-width: 521px) {
  .product__recommend__swiper {
    width: 45rem;
  }
}

@media screen and (max-width: 421px) {
  .product__recommend__swiper {
    width: 36rem;
  }
}
