span {
  display: block;
}

.account__product__card {
  width: 100%;
  margin-bottom: 5rem;
}

.account__product__card__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 6rem;
  margin-bottom: 2rem;
}

.account__product__card__container {
  width: 100%;
}

.account__product__Card__container__img {
  width: 100%;
  height: 25rem;
}

.account__product__card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.account__product__card__title {
  font-size: 2.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  /* margin-bottom: 0.4rem; */
}

.account__product__card__category {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.account__product__card__price {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.account__product__card__availability {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.account__product__card__span {
  font-size: 1.8rem;
}

.account__product__card__button__delete {
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  padding: 0.8rem 1rem;
  color: #fff;
  background-color: #777;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.account__product__card__sales {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.account__product__card__container__rating {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.account__product__card__star {
  width: 3.5rem;
  height: 3.5rem;
  color: #fff;
}

.account__product__card__star__active {
  color: #ff8c00;
}

.account__product__card__nutrition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.account__product__card__nutrition__row {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.account__product__card__nutrition__row__key {
  font-size: 2rem;
  width: 12rem;
  text-transform: capitalize;
}

.account__product__card__nutrition__row__value {
  font-size: 1.8rem;
}
