.account__orders {
  width: 100%;
}

.account__orders__title {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #ff8c00;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.account__orders__span__none {
  font-size: 2.2rem;
  font-weight: 500;
}

.account__orders__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

.account__order {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0rem;
}

.account__order:not(:last-child) {
  border-bottom: 1px solid #ff8c00;
}

.account__order__title {
  font-size: 2rem;
  font-weight: 700;
  color: #ff8c00;
  display: block;
  margin-bottom: 0.4rem;
}

.account__order__date {
  font-size: 1.6rem;
  font-style: italic;
  display: block;
}

.account__order__span {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.4rem;
}
