.progress__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress__step {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #ff8c00;
  outline-style: solid;
  outline-color: #fff;
  outline-width: 0.5rem;
  outline-offset: -0.2rem;
  z-index: 9;
}

.progress__step__active {
  background-color: #ff8c00;
  color: #fff;
  outline-color: #ff8c00;
}

.progress__step__span {
  font-size: 2.4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  display: block;
}

.progress__filler {
  width: calc((100% - (5rem * 3)) / 2);
  height: 0.5rem;
  background-color: #fff;
}

.progress__filler__active {
  background-color: #ff8c00;
}
