@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.select__update__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.select__update__span {
  font-size: 2rem;
}

.select__update__selecter {
  font-size: 2rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid #ff8c00;
  background-color: #222;
  color: #ff8c00;
  border-radius: 0.5rem;
}

.select__update__edit__btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.select__update__edit__btn__svg {
  width: 1.8rem;
  height: 1.8rem;
  color: #ff8c00;
}

.select__update__edit__btn__svg__animated {
  animation: spin infinite 2s linear;
}
