.payment__content__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
}

.payment__content__grid__container {
  width: 100%;
}

@media screen and (max-width: 781px) {
  .payment__content__grid {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}
