.overview__content__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  column-gap: 6rem;
}

.overview__content__grid__container {
  width: 100%;
}

.overview__content__helper__element {
  height: 1rem;
  width: 100%;
}

.overview__content__container__span {
  width: 100%;
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  text-align: center;
}

.overview__content__span {
  font-size: 2.2rem;
  font-weight: 300;
}
