.overview__filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.overview__filters__price {
  width: 100%;
}

.overview__filters__price__form {
  margin-bottom: 1.5rem;
}

.overview__filters__price__form__group {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}

.overview__filters__price__form__label {
  font-size: 1.8rem;
  width: 15rem;
  font-weight: 400;
  font-family: inherit;
}

.overview__filters__price__form__input {
  font-size: 1.8rem;
  width: 8rem;
  padding: 0.4rem 0.6rem;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #ff8c00;
  color: #fff;
}

.overview__filters__title {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  margin-bottom: 2rem;
}

.overview__filters__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.overview__filters__filter {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.overview__filters__filter__deco {
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #ff8c00;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: all 0.5s;
}

.overview__filters__filter__deco__active {
  background-color: #ff8c00;
}

.overview__filters__filter__span {
  font-size: 1.6rem;
  font-weight: 400;
}
