.cart__rec {
  width: 100%;
  margin-bottom: 3rem;
}

.cart__rec__title {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  margin-bottom: 1.5rem;
}

.cart__rec__container__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
